:root[data-theme="theme-light"] {
    --text: #666666;
    --link: #f47925;
    --link-hover: #dc6d21;
    --link-visited: #f47925;
    --link-active: #f47925;
    --existing: #f47925;
    --existing-hover: #dc6d21;
    --existing-visited: #f47925;
    --existing-active: #f47925;
    --missing: #f47925;
    --missing-hover: #dc6d21;
    --missing-visited: #f47925;
    --missing-active: #f47925;
    --background: #ffffff;
    --admin-background-color: #FAFBFB;
    --code-text-color: #41ad49;
    --code-border-color: transparent;
    --code-background-color: transparent;
    --control-text-color: #495057;
    --control-border-color: #6c757d;
    --control-background-color: #ffffff;
    --input-border-color: #dddddd;
    --button-search-text-color: #ffffff;
    --button-search-background-color: rgba(54, 59, 78, 0.8);
    --button-search-border-color: rgba(54, 59, 78, 0.8);
    --button-search-text-hover-color: #ffffff;
    --button-search-background-hover-color: rgba(54, 59, 78, 1);
    --button-search-border-hover-color: rgba(54, 59, 78, 1);
    --button-default-text-color: #ffffff;
    --button-default-background-color: #f47925;
    --button-default-border-color: #f47925;
    --button-default-text-hover-color: #ffffff;
    --button-default-background-hover-color: #dc6d21;
    --button-default-border-hover-color: #dc6d21;
    --topheader-background-color: #ffffff;
    --header-background-color: #ffffff;
    --navbar-background-color: #ffffff;
    --navbar-border-color: #dddddd;
    --navbar-brand-text-color: #212537;
    --navbar-brand-tagline-color: #5d627a;
    --navbar-link-color: #666666;
    --navbar-link-hover-color: #333333;
    --subnavbar-text-color: #666666;
    --subnavbar-link-color: #666666;
    --subnavbar-link-hover-color: #000000;
    --subnavbar-background-color: #f8f8f8;
    --subnavbar-border-color: #e5e5e5;
    --tag-background-color: #999999;
    --tag-text-color: #ffffff;
    --breadcrumb-background-color: #FAFBFB;
    --breadcrumb-text-color: #5d6276;
    --breadcrumb-link-color: #666666;
    --breadcrumb-link-hover-color: #000000;
    --hero-title-color: #535b7c;
    --hero-subtitle-color: #666666;
    --hero-background-color: #FAFBFB;
    --sidebar-text-color: #666666;
    --sidebar-link-color: #666666;
    --sidebar-link-hover-color: #333333;
    --sidebar-background-color: #ffffff;
    --sidebar-border-color: #dddddd;
    --content-background: #ffffff;
    --toc-background-color: #ffffff;
    --toc-border-color: #dddddd;
    --toc-link-color: #666666;
    --toc-link-hover-color: #333333;
    --pagetools-color: #cccccc;
    --pagetools-hover-color: #666666;
    --footer-text-color: #666666;
    --footer-link-color: #666666;
    --footer-link-hover-color: #333333;
    --footer-background-color: #FAFBFB;
    --table-header-row-background-color: #FAFBFB;
    --table-header-row-text-color: #535b7c;
    --table-row-border-color: #dddddd;
    --table-col-border-color: transparent;
    --table-odd-row-background-color: #ffffff;
    --table-odd-row-text-color: #666666;
    --table-even-row-background-color: #FAFBFB;
    --table-even-row-text-color: #666666;
    --dropdown-color: #666666;
    --dropdown-hover-color: #FAFBFB;
    --dropdown-border-color: #FAFBFB;
    --dropdown-background-color: #ffffff;
    --section-edit-highlight: rgba(244, 121, 37, 0.05);
    --tree-background-color: #ffffff;
    --tree-border-color: #dddddd;
    --tab-color: #666666;
    --tab-background-color: transparent;
    --tab-border-color: transparent;
    --tab-hover-color: #333333;
    --tab-background-hover-color: #ffffff;
    --tab-border-hover-color: #dddddd;
    --tab-active-color: #333333;
    --tab-active-background-color: #ffffff;
    --tab-active-border-color: #dddddd;
    --display-theme-light: inline-block;
    --display-theme-dark: none;
    --display-theme-auto: none;
}

.mikio-navbar .mikio-navbar-brand .mikio-navbar-brand-title {
    min-width: fit-content;
}

.mikio .mikio-toc #dw__toc {
    box-shadow: none;
}